* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url(top-view-valentine-s-day-concept-with-copy-space.jpg);
    background-size: cover;
    background-position: center;
    width: 100vh;
    height: 100vh;
    padding: 200px 420px 200px 370px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url(top-view-valentine-s-day-concept-with-copy-space.jpg);
    background-size: cover;
    background-position: center;
    filter: hue-rotate(0deg);
    animation: roseColorChange 1s infinite alternate;
}

@keyframes roseColorChange {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(120deg);
    }
}

.container {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 200px;
    margin-left: -180px;
    margin-top: -100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(50px);
}

h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
}

.input-container {
    position: relative;
    width: 350px;
    margin: 30px 0;
    border-bottom: 1px solid white;
    background-color: transparent;
}

.input-container input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.0em;
    color: white;
    padding: 0 35px 0 35px;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    color: white;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1.0em;
    color: white;
    transform: translateY(-50%);
    transition: 0.5s;
}


input:focus ~ label,
input:valid ~ label {
    top: -5px;
}


p {
    color: white;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}

p>a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    font-size: 1.2em;
    margin-left: 100px;
}

p>a:hover {
    text-decoration: underline;
    color: wheat;
    font-style: bold;
}

#btn {
    background-color: white;
    border: none;
    padding: 10px 150px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

#btn:hover {
    background-color: goldenrod;
    transform: scale(1.05);
    transition: 0.5s;
}


